body {
	background-color: #AFEEEE;
	font-size: 15px;
}


#heading {
	width: 50%;
	position: absolute;
	top: 0.1em;
	left: 25%;
	height: 10%;

	background-color: #BDECB6;
	border-top: solid 5px #1E5945;
	border-bottom: solid 5px #1E5945;
	font-size: 3.5em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	text-align: center;
}

#button {
	font-size: 2em;
	background-color: #bdecb6;
	color: #ffb841;
	width: min-content;
	height: auto;

	border: solid 2px #1E5945;
	border-radius: 5px;
	
	position: absolute;
	left: 2em;
	top: 2em;

	display: inline-block;
	width: 10%;
}

.button-url {
	text-decoration: none;
}