body {
	background-color: #F1FAEE;
	font-size: 15px;
	}
	
#header {
	text-align: center;
}
	
#header-logo {
		margin-top: 0;
		height: 10%;
		background-color: #A8DADC;
		border-top: solid 0.2em #1D3557;
		border-bottom: solid 0.2em #1D3557;
		padding: 2.2% 2.2% 2.2% 2.2%;
		font-size: 4em;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		color: #1D3557;
}
	
.button {
	position: absolute;
	left: 2%;
	text-align: center;
	font-size: 1.5em;
	background-color: #E63946;
	color: #F1FAEE;
	border: solid 2px #1D3557;
	border-radius: 0.25em;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.button-url {
	text-decoration: none;
	color: #F1FAEE;
}

.table-hw {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 1.9em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #1D3557;
}

.table-number {
	text-align: center;
}

.hw-checkbox {
	color: #1D3557;
	border: solid 0.1em #457B9D;
	border-radius: 0.25em;
}

.table-input-lesson {
	font-size: 0.7em;
	color: #1D3557;
	border: solid 0.1em #457B9D;
	border-radius: 0.25em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table-input-hw {
	font-size: 0.7em;
	color: #1D3557;
	border: solid 0.1em #457B9D;
	border-radius: 0.25em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table-button {
	text-align: center;
	font-size: 1em;
	background-color: #E63946;
	color: #F1FAEE;
	border: solid 0.08em #1D3557;
	border-radius: 0.25em;
	position: relative;
	margin-top: 0.2em;
	margin-right: 10%;
	left: 28%;
}


.table-block {
	table-layout: auto;
	border-spacing: 0.5em;
	margin-top: 5%;
}